.page-bar {
  padding: 0px;
  background-color: #f7f7f7;
  margin-bottom: 25px;
  border-radius: 0px;
}

.page-bar:before, .page-bar:after {
  content: " ";
  display: table;
  box-sizing: border-box;
  clear: both;
}

.page-bar .page-breadcrumb {
  display: inline-block;
  float: left;
  padding: 8px;
  margin: 0;
  list-style: none;
  border-radius: 0 !important;
}

.page-bar .page-breadcrumb > li {
  display: inline-block;
}

.page-bar .page-breadcrumb > li > a, .page-bar .page-breadcrumb > li > span {
  color: #888;
  font-size: 14px;
  text-shadow: none;
  text-decoration: none;
}

.page-bar .page-breadcrumb > li > i {
  color: #aaa;
  font-size: 14px;
  text-shadow: none;
}

.breadcrumb {
  padding: 0px;
  /*border-top: 2px dotted #e6e6e6;
    border-bottom: 2px dotted #e6e6e6;*/
  margin-bottom: 25px;
  border-radius: 0px;
  margin-top: 25px;
  padding: 6px 0px;
}

.breadcrumb:before, .breadcrumb:after {
  content: " ";
  display: table;
  box-sizing: border-box;
  clear: both;
}

.breadcrumb span.delimiter {
  font-size: 11px;
  margin: 0px 6px 0px 0px;
}

.breadcrumb span.inline {
  display: inline-block;
  margin-right: 5px;
  font-size: 13px;
}

.breadcrumb span.inline:first-child a, .breadcrumb span.inline.first a {
  background-image: url(../images/home-breadcrumb.png);
  background-repeat: no-repeat;
  text-indent: -999999px;
  width: 22px;
  height: 22px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.breadcrumb span.inline:last-child label {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 300;
  color: #231f20;
}

.breadcrumb span.inline > a, .breadcrumb span.inline > span {
  color: #888;
  font-size: 14px;
  text-shadow: none;
  text-decoration: none;
}

.breadcrumb span.inline > a {
  color: #284874;
}

.breadcrumb span.inline > i {
  color: #aaa;
  font-size: 14px;
  text-shadow: none;
}

.sort-action {
  display: block;
  position: absolute;
  margin: 0px 0px 15px 0px;
  top: -58px;
  right: 20px;
  /* The switch - the box around the slider */
}

.sort-action .label-sort {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}

.sort-action .switch-sort {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 24px;
  vertical-align: middle;
  /* The slider */
}

.sort-action .switch-sort input {
  display: none;
}

.sort-action .switch-sort input:checked + .slider {
  background-color: #0079c1;
}

.sort-action .switch-sort input:focus + .slider {
  box-shadow: 0 0 1px #0079c1;
}

.sort-action .switch-sort input:checked + .slider:before {
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.sort-action .switch-sort .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.sort-action .switch-sort .slider.round {
  border-radius: 34px;
}

.sort-action .switch-sort .slider.round:before {
  border-radius: 50%;
}

.sort-action .switch-sort .slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

.sort-action .action-link {
  display: inline-block;
  margin-right: 15px;
  font-size: 13px;
  text-decoration: none;
  vertical-align: middle;
}

.sort-action .action-link:hover {
  font-weight: 600;
}

/*# sourceMappingURL=page-bar.css.map */
