# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
ddbb_investiga2018.sql

sites/all/themes/custom/banrep/node_modules

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
