.slider-home{
  .flexslider{
  	border: 0px;

  	.box-slider{
  		background-color: color('naranja-brc');

	   	.data-box{
	   		width: 100%;

	   		@include zen-respond-to(m) {
		      width: 50%;
		      float: right;
		    }
		    @include zen-respond-to(xl) {
		      width: 43.9%;
		    }

	   		.wrapper {
		   		padding: 9% 38px;
			    display: block;
			    position: relative;
	   		}

		    a{
			    color: #fff;
			    border-bottom: 1px solid #fff;
			    text-decoration: none;
			    display: block;
			    position: relative;
			    font-size: 24px;
			    line-height: 28px;
			    padding-bottom: 13px;

			    @include zen-respond-to(m) {
			      font-size: 24px;
			    	line-height: 28px;
			    }
		    }
		    h3{
			    color: #fff;
			    border-bottom: 1px solid #fff;
			    text-decoration: none;
			    display: block;
			    position: relative;
			    font-size: 24px;
			    line-height: 28px;
			    padding:0 0 13px;
			    margin: 0;

			    @include zen-respond-to(m) {
			      font-size: 24px;
			    	line-height: 28px;
			    }
		    }
		    p {
					display: block;
					position: relative;
					color: #fff;
					font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
					font-size: 13px;
					line-height: 18px;
					font-weight: 200;

					@include zen-respond-to(m) {
			      font-size: 14px;
			    	line-height: 19px;
			    	margin-top: 5px;
			    	margin: 1rem 0;
			    }
		    }
		    .view-more{
			    display: block;
			    position: relative;
			    clear: both;
		    	a{
				    color: #fff;
				    border: 1px solid #fff;
				    text-decoration: none;
				    display: block;
				    position: relative;
				    font-size: 13px;
				    line-height: 18px;
				    padding: 6px 15px;
				    display: inline-block;
		    	}
		    }
	  	}
			.img-box {
				width: 56.1%;

				@include respond-to(m) {
		      width: 50%;
		      float: left;
		    }
		    @include respond-to(xl) {
		      width: 56.1%;
		    }
			}
  	}
  }
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 19px;
    height: 25px;
}

.flex-direction-nav a:before {
	    font-size: 24px;
    display: block;
}
