.ui-tabs {
  position: relative;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  margin-bottom: 20px;
}

.ui-tabs .ui-tabs-panel {
  background: color("grey-extra-light");
  padding: 1.2em 0.7em 0.1em 0.7em;
}

.ui-tabs .ui-tabs-panel .tabs-wrapper {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.ui-tabs .ui-tabs-panel .tabs-wrapper.ui-accordion .ui-accordion-content {
  font-size: 13px;
}

.ui-tabs .ui-tabs-nav {
  margin: 0;
  background: transparent;
  border: 0px;
  border-bottom: none;
  border-radius: 0px;
  padding: 0px;
}

.ui-tabs .ui-tabs-nav li {
  background: color("azul-oscuro-brc");
  border: none;
  border-radius: 0px;
  margin: 1px .5em 0 0;
}

.ui-tabs .ui-tabs-nav li.ui-state-active {
  background: color("grey-extra-light");
  color: color("azul-oscuro-brc");
}

.ui-tabs .ui-tabs-nav li.ui-state-active a {
  color: color("azul-oscuro-brc");
}

.ui-tabs .ui-tabs-nav li a {
  padding: .5em 0.8em;
  text-decoration: none;
  font-size: 14px;
  color: white;
}

.ui-tabs .ui-tabs-nav li:hover {
  background: color("grey-extra-light");
}

.ui-tabs .ui-tabs-nav li:hover a {
  color: color("azul-oscuro-brc");
}
