.filtros-vista {
  padding: 20px 20px 10px;
  margin-bottom: 10px;
  .views-exposed-form {
    .views-exposed-widget {
      float: none;
      display: block;
      padding-right: 0;
    }
  }
  .form-text {
    width: 100%;
  }
  .form-select {
    width: 100%;
  }
  .form-submit {
    background-color: color('naranja-brc');
    color: white;
  }
  label {
    display: block;
    font-size: 14px;
    font-weight: normal;
  }
}

.item-grupo {
  display: block;
  position: relative;
  margin-bottom: 30px;
  border-bottom: 2px dotted #e6e6e6;
  padding-bottom: 25px;

  img {
    display: block;
    vertical-align: middle;
    display: inline-block;
    vertical-align: middle;
    margin: 19px 0px;
    padding: 2px;
    border: 1px solid color('grey');
  }
  .titulo {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: inherit;
    a {
      color: #284874;
      font-weight: 600;
      line-height: 21px;
      font-size: 16px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .box-color-group {
    color: #fff;
    text-align: center;
    font-weight: 300;
    line-height: 21px;
    font-size: 13px;
  }
  p{
    font-size: 12px;
    margin: 0.6rem 0;
    line-height: 17px;
  }
  &.views-row-last {
    border-bottom: none;
  }
}

.blog-grupo {
  background: color('grey-extra-light');
  padding-bottom: 10px !important;
  .block__title {
    background-color: color('azul-oscuro-brc');
    color: white;
    border: none;
    padding: 5px 10px;
  }
  .pd-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.item-blog {
  margin-bottom: 20px;
  border-left: 3px solid color('naranja-brc');
  padding: 0 10px;
  margin-left: 10px;
  .fecha {
    font-size: 11px;
    color: color('grey');
  }
  .titulo {
    margin: 0;
    padding: 0;
    a {
      color: color('azul-oscuro-brc');
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &:visited {
        color: color('azul-oscuro-brc');
      }
    }
  }
  &.views-row-last {
    border-bottom: none;
  }
}


#user-training-entityform-edit-form{
  table{ 
    tr{
      background-color: #fff !important;
    }
  }
  .group-header,.group-left,.group-right,.group-footer {
    display: inline-block;
    margin: 20px 0px;
  }
  
  .group-header > div{
    min-width: 100%;
    margin: 10px 0px; 
  }
  .group-footer > div {
    max-width: 330px;
    display: inline-block;
    margin: 17px 50px; 
  }

  #edit-field-studies-carried-out-und-0-field-fecha-inicio-estudio-und-0-value label{
    display: none;
  }
  #edit-field-studies-carried-out-und-0-field-fecha-fin-estudio-und-0-value label{
    display: none;
  }

}


